{
  "name": "<<PROJECT_SLUG>>-docs",
  "version": "1.0.0",
  "private": true,
  "description": "Antora documentation site for <<PROJECT_NAME>>.",
  "license": "Apache-2.0",
  "directories": {
    "doc": "docs"
  },
  "scripts": {
    "build": "antora docs/antora-playbook.yml",
    "build:local": "antora docs/antora-playbook.local.yml"
  },
  "devDependencies": {
    "@antora/cli": "3.1.14",
    "@antora/site-generator": "3.1.14",
    "@antora/lunr-extension": "^1.0.0-alpha.13",
    "@sntke/antora-mermaid-extension": "^0.0.9",
    "antora": "3.1.14"
  }
}
